<h1>Create a New User</h1>
<%= form_for :user, url: '/users' do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br><br>
<%= f.label :nausea %> <br>
<%= f.text_field :nausea %> <br><br>
<%= f.label :happiness %><br>
<%= f.text_field :happiness %> <br><br>
<%= f.label :tickets %> <br>
<%= f.text_field :tickets %> <br><br>
<%= f.label :height %> <br>
<%= f.text_field :height %><br><br>
<%= f.label "Check Box if you are an Owner:" %>
<%= f.check_box :admin %><br><br>
<%= f.submit "Create User"%>
<% end %>
